.all {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.elementsContaienr {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.componentsButton {
    width: 80%;
}

.collapseButton {
    width: 80%;
}